:root { 
--gray_600:#6b7280; 
--gray_50_01:#f9fafb; 
--blue_gray_100:#d1d5db; 
--blue_gray_300:#9ca3af; 
--gray_900:#111928; 
--black_900_3f:#0000003f; 
--gray_200:#e5e7eb; 
--gray_50:#fff8f1; 
--gray_100:#f3f4f6; 
--teal_600:#0e9f6e; 
--blue_gray_800:#374151; 
--blue_gray_700:#4b5563; 
--deep_orange_500:#ff5a1f; 
--blue_gray_900:#292d53; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
}